@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

html {
    overflow-y:scroll;
}

body{
	background: #DAE2DB !important;
	font-size: 14px !important;
}

h1,h2,h3,h4,h5,h6,p {
 line-height: 1.45;
}

h1{
    font-family: 'Antic Slab', serif;
}

a:hover {
    cursor:pointer;
}

h3 .fa{
    font-size: 120%;
}

a {
    text-decoration: none;
}
.a2{
    color: #490094
}
.a2:hover {
    text-decoration: none;
}

.a3{
    color: #968aff
}
.a3:hover {
    text-decoration: none;
    color: #968aff
}

<<<<<<< HEAD
/*.panel-heading{*/
    /*background: url('/images/crcYthSPLASHBACKnoTEXT.png');*/
    /*background-size: 100%;*/
/*}*/

/*.panel-heading h4{*/
    /*color: white;*/
/*}*/

/*.panel-heading .a2{*/
    /*color: #0b948a*/
/*}*/

.jumbotron{
    background: url('/images/crcYthSPLASHBACKnoTEXT.png');
    background-size: 100%;
    color: #ffffff;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.textShadow{
    text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}

.profilePic img{
    padding:0;
    margin: 0 5px 0 0;
    border: 1px solid white;
    width: 20px;
    height: 20px;
}

.profilePic:hover img{
    border: 1px solid #06F;
=======
.jumbotron{
    background: url('/images/crcYthSPLASHBACKnoTEXT.png');
    background-size: 100%; color: #ffffff;
>>>>>>> 3rd Upload
}

.page.ng-enter{
	transition:0.75s;
	opacity: 0; 
}

.page.ng-enter-active{
	opacity: 1;
}

#icon-bar{
    background: #000088;
}


#mainNavBar {
    background-color: #1d003b;
}

#mainNavBar a:hover {
    color: #06F;
}

#navigation, #navigationFront {
    list-style: none;
    text-decoration: none;
}

#navigation > li, #navigationFront > li {
    float: left;
    height: 100%;
}

#navigation > li > a , #navigationFront > li > a {
    font-weight: bold;
    text-transform: uppercase;
}


#navigation > li#sub ul {
    width: 11em;
    margin-top: 3.3em;
    padding: 0;
    padding-bottom: 3px;
    list-style: none;
    background: #06F;
    position: absolute;
    top: -1000em;
    z-index:100;
}

#navigation > li#sub ul li a {
    height: 100%;
    display: block;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

#navigation > li#sub ul li a:hover {
    text-decoration: none;
    color: #000000;
    background: #FFFFFF;
    font-weight: bold;
}

#navigation > li#sub:hover ul {
    top: 1em;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
    background-color: #1d003b;
}
.nav-pills > li > a {
    background-color: #ffffff;
}