<div class="container">
    <div class="jumbotron" style="height : 394px">
        <a style="text-decoration: none">
            <h1 style="margin: 0 0 40px 0"><b>{{group[0].name}}</b></h1>
        </a>
        <img style="border:1px solid rgba(0, 0, 0, 0.15); float: left;" width="160" height="160" src="/images/{{group[0].imagePath}}"/>
        <h2 style="float: left;">{{group[0].city}} - {{group[0].country}}</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Leaders </h3></div>
                <div class="panel-body">.
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Hello.</h3></div>
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    Aliquam in felis sit amet augue.
                </div>
            </div>
        </div>
    </div>
</div>
