<div class="container">
    <div class="jumbotron text-center">
        <h1>Login Page</h1>
        <p>{{ greeting }}</p>

        <div ng-if="message.length > 0">
            <div class="alert alert-danger">{{ message }}</div>
        </div>


        <form class="form-horizontal" action="/login" method="post" onKeyUp="checkForm()" onSubmit="return checkSubmitForm()" id="loginForm">

            <div class="control-group"> <!-- eMail input-->
                <label class="control-label" for="email">Email Address</label>
                <div class="controls">
                    <input id="email" name="email" type="text" placeholder=" jc@gmail.com" class="input-xxlarge">
                </div>
            </div>

            <div class="control-group"> <!-- Password input-->
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input id="password" name="password" type="password" placeholder=" **********" class="input-xxlarge">
                </div>
            </div>

            <br>

            <div class="control-group"> <!-- Buttons -->
                <div class="controls">
                    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>

                    <button id="loginbutton" type="submit" name="loginbutton" class="btn btn-primary" ng-click="submitPassword()">Login</button>
                </div>
            </div>
        </form>

        <hr>

        <p>Need an account? <a href="/#signup">Signup</a></p>
    </div>
</div>