<div class="container">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-sign-in"></span> Sign Up To</h1>

        <!-- SIGN UP FORM -->
        <form class="form-horizontal" action="{{'/signUp/'+groupID}}" method="post" onKeyUp="checkFormValues(this)" onSubmit="return checkFormValues(this)" id="signUpForm">

            <div class="col-md-6 col-md-offset-3" style="clear:both;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/#groups/{{ group[0].id }}" style="float:left">
                            <img style="border:1px solid rgba(0, 0, 0, 0.15);" width="80" height="80" src="/images/{{group[0].imagePath}}"/>
                        </a>
                        <div style="padding-left: 15px;">
                            <a href="/#groups/{{ group[0].id}}" style="padding-top:0;margin-top: 0; font-size: 32px;"><b>{{group[0].name}}</b></a>
                            <p style="font-size: 24px; color: black; margin: 0;">{{group[0].city + " - " + group[0].country}}</p>
                        </div>
                    </div>
                    <input style="display: none" id="groupID" name="groupID" value="{{ group[0].id}}"/>
                    <input style="display: none" id="groupName" name="groupName" value="{{ group[0].name}}"/>
                    <input style="display: none" id="groupCity" name="groupCity" value="{{ group[0].city}}"/>
                    <input style="display: none" id="groupCountry" name="groupCountry" value="{{ group[0].country}}"/>

                </div>
            </div>

            <p style="clear:both;">{{ greeting }}</p>
            <div ng-if="message.length > 0">
                <div class="alert alert-danger">{{ message }}</div>
            </div>

            <div class="col-md-6">
                <div class="control-group"> <!-- Password input-->
                    <label class="control-label" for="name">Full Name</label>
                    <div class="controls" style="color: black">
                        <input id="name" name="name" type="text" placeholder="Jesus Christ" class="input-xxlarge">
                    </div>
                </div>

                <div class="control-group"> <!-- eMail input-->
                    <label class="control-label" for="email">Email Address</label>
                    <div class="controls" style="color: black">
                        <input id="email" name="email" type="text" placeholder="jc@gmail.com" class="input-xxlarge">
                    </div>
                </div>

                <div class="control-group"> <!-- Password input-->
                    <label class="control-label" for="password">Password</label>
                    <div class="controls" style="color: black">
                        <input id="password" name="password" type="password" placeholder="Exodus 20:15" class="input-xxlarge">
                    </div>
                </div>

                <div class="control-group"> <!-- Password input-->
                    <label class="control-label" for="confirmPassword">Confirm Password</label>
                    <div class="controls" style="color: black">
                        <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Exodus 20:15" class="input-xxlarge">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="control-group"> <!-- Gender input-->
                    <label class="control-label" for="gender">Gender</label>
                    <div class="controls">
                        <div class="btn-group" data-toggle="buttons" id="gender">
                            <label class="btn btn-default active">
                                <input type="radio" name="gender" checked="checked" value="Male" /> Male
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="gender" value="Female"/> Female
                            </label>
                        </div>
                    </div>
                </div>

                <div class="control-group"> <!-- Comment input-->
                    <label class="control-label" for="comment">Comments</label>
                    <div class="controls">
                        <textarea class="col-md-offset-1 col-md-10" id="comment" rows="5" style="resize: none; color: #000000" placeholder="Hi, Please accept me. I'm the guy who comes every week with holes in his hands and his side"></textarea>
                    </div>
                </div>
            </div>
            <div class="control-group" style="clear:both;"> <!-- Buttons -->
                <br>
                <div class="controls">
                    <button id="signUpButton" type="submit" class="btn btn-primary btn-lg" ng-click="submitPassword()" form="signUpForm">Sign Up</button>
                </div>
            </div>
        </form>

        <hr>
        <p>Already have an account? <a href="/#login">Login</a></p>
    </div>
</div>
