<div class="container">
    <div class="jumbotron" style="height : 394px; background-image: url('/images/{{group[0].splashBackPath}}'); background-size:100%;">
        <h1 id="nameBox" contenteditable="true" style="outline: none; margin: 0 0 40px 0; text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000; color: white;"><b>{{group[0].name}}</b></h1>

        <div style="float: left; margin-right: 60px">
            <div style="border:1px solid #000;float: left; ">
                <img style="border:2px solid #ffffff;" width="160" height="160" src="/images/{{group[0].imagePath}}"/>
            </div>

            <form id="form" action="/submitProfilePic" enctype="multipart/form-data" method="post">
                <button class="btn btn-primary btn-sm btn-file" style="width: 100%;">
                    <label for="inFile">Change Profile Pic <span class="glyphicon glyphicon-picture" style=""></span></label>
                    <input id="inFile" type="file" name="userPhoto" onchange="document.getElementById('form').submit();"/>
                </button>
            </form>
        </div>

        <div style="float: left; margin-left: 3em">
            <form action="/" method="post" onsubmit="saveChanges()">
                <button type="submit" id="submitButton" name="submit" style="clear: both" class="btn btn-primary btn-sm">Save Changes</button>
            </form>
        </div>
        <br>        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>


    <div class="row">
        <div class="col-md-3">
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">-->
                    <ul class="nav nav-pills nav-stacked">
                        <li id="locationHeader" class="active"><a onclick="clickTab('location')"><b>Location</b></a></li>
                        <li id="menu1Header"><a onclick="clickTab('menu1')"><b>Profile Picture</b></a></li>
                        <li id="bannerPhotoHeader"><a onclick="clickTab('bannerPhoto')"><b>Banner Photo</b></a></li>
                        <li id="socialMediaHeader"><a onclick="clickTab('socialMedia')"><b>Social Media</b></a></li>
                    </ul>
                <!--</div>-->
            <!--</div>-->
        </div>
        <div id="tabDivs">
            <div id="location" class="col-md-9">
                <div class="panel panel-default">
                    <!--<div class="panel-heading"><h3>Update Group Location</h3></div>-->
                    <div class="panel-body">
                        <form>
                            <div id="googleMap" class="col-md-6 googleMap" style="height:190px"></div>
                            <div class="col-md-3">
                                <p><label for="latitude">Latitude:</label></p>
                                <p><input id="latitude" onchange="updateMap()"></p>
                            </div>
                            <div class="col-md-3">
                                <p><label for="longitude">Longitude:</label></p>
                                <p><input id="longitude" onchange="updateMap()"></p>
                            </div>
                            <div class="col-md-3">
                                <p><label for="address">Address:</label></p>
                                <p><input id="address" style="width: 100%"></p>
                            </div>
                            <div class="col-sm-3">
                                <p><label for="city">City:</label></p>
                                <p><input id="city" style="width: 100%"></p>
                            </div>
                            <div class="col-sm-3">
                                <p><label for="state">State:</label></p>
                                <p><input id="state" style="width: 100%"></p>
                            </div>
                            <div class="col-sm-3">
                                <p><label for="country">Country:</label></p>
                                <p><input id="country" style="width: 100%"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="menu1" class="col-md-9" style="display: none">
                <div class="panel panel-default">
                    <!--<div class="panel-heading"><h3>Change Profile Picture</h3></div>-->
                    <div class="panel-body">
                        dhhgdfzhdzgh
                    </div>
                </div>
            </div>
            <div id="bannerPhoto" class="col-md-9" style="display: none">
                <div class="panel panel-default">
                    <!--<div class="panel-heading"><h3>Change Banner Photo</h3></div>-->
                    <div class="panel-body">
                        dhhgdfzhdzgh
                    </div>
                </div>
            </div>
            <div id="socialMedia" class="col-md-9" style="display: none">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-6">
                            <h3 style="display: inline">
                                <span class="fa fa-facebook-square"></span>
                            </h3>
                            <input type="text" placeholder="www.youtube.com" style="width: 75%">
                        </div>
                        <div class="col-md-6">
                            <h3 style="display: inline">
                                <span class="fa fa-twitter"></span>
                            </h3>
                            <input type="text" placeholder="www.youtube.com" style="width: 75%">
                        </div>
                        <div class="col-md-6">
                            <h3 style="display: inline">
                                <span class="fa fa-instagram"></span>
                            </h3>
                            <input type="text" placeholder="www.youtube.com" style="width: 75%">
                        </div>
                        <div class="col-md-6">
                            <h3 style="display: inline">
                                <span class="fa fa-youtube-play"></span>
                            </h3>
                            <input type="text" placeholder="www.youtube.com" style="width: 75%">
                        </div>
                        <div class="col-md-6">
                            <h3 style="display: inline">
                                <span class="fa fa-google-plus"></span>
                            </h3>
                            <input type="text" placeholder="www.youtube.com" style="width: 75%">
                        </div>
                        <div class="col-md-6">
                            <h3 style="display: inline">
                                <span class="glyphicon glyphicon-asterisk"></span>
                            </h3>
                            <input type="text" placeholder="www.youtube.com" style="width: 75%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Update Group Info!</h3></div>
            </div>
        </div>
    </div>
</div>
