<div class="container">
    <div class="jumbotron text-center">
        <h1>Write Post</h1>
        <br>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h3> Embed Youtube </h3></div>
                <div class="panel-body text-center">
                    <h4>Youtube Link:</h4>
                    <input id="link" onchange="checkUrl()">
                    <h4>Annotation:</h4>
                    <input id="annotation" onchange="checkUrl()">
                    <h4 id="copyPasteHeader"></h4>
                    <div id="youtubeHTML" style="word-wrap: break-word"></div>
                </div>
            </div>
        </div>

        <div id="location" class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Post Body</h3></div>
                <div class="panel-body">
                    <form>
                         <div class="text-center" contenteditable id="postContent" onfocus="focusOn()" onblur="focusOff()" style="resize: none; width: 100%; max-width: 100%; color: darkgrey">Write your post here. You can use HTML</div>
                        <script>
                            function focusOn(){
                                var textArea = document.getElementById("postContent");
                                if(textArea.innerHTML === "Write your post here. You can use HTML"){
                                    textArea.innerHTML = "";
                                    textArea.style.color = "black";
                                }
                                textArea.innerText = textArea.innerHTML;
                            }
                            function focusOff(){
                                var textArea = document.getElementById("postContent");
                                if(textArea.innerHTML === ""){
                                    textArea.innerHTML = "Write your post here. You can use HTML";
                                    textArea.style.color = "darkgrey";
                                }
                                textArea.innerHTML = textArea.innerText;
                            }
                            function youtube_parser(url){
                                var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
                                var match = url.match(regExp);
                                if (match&&match[7].length==11){
                                    return match[7];
                                }else{
                                    return false;
                                    alert("Url incorrecta");
                                }
                            }
                            function checkUrl(){
                                var videoId = youtube_parser(document.getElementById('link').value);
                                var annotation = document.getElementById('annotation').value;
                                if (videoId !== false) {
                                    document.getElementById('youtubeHTML').innerText =
                                            '<p><iframe id="player" type="text/html" width="640" height="390" ' +
                                            'src="http://www.youtube.com/embed/' + videoId +
                                            '?enablejsapi=1&origin=http/crcyouth.com"' +
                                            'frameborder="0"></iframe></p><p style="color: grey; font-size: 11px">' + annotation + '</p>';
                                    document.getElementById('copyPasteHeader').innerHTML = "Copy Paste:";
                                } else {
                                    document.getElementById('link').value = "";
                                }
                            }
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Update Group Info!</h3></div>
            </div>
        </div>
    </div>
</div>
